.box{
    border: 2px solid;
    /* padding: 25 px; */
    /* Height is normally set to auto so it is calculate based on the space availiable on the page, but you can set a height */
    height: auto;
    width: 50%; /*We are setting the box to take up 50 percent of the view port*/
    
    /* The border makes it so that we can't put them next to each other with float.  Remove the border and it will work. 
    Same deal with padding, you have to account for it when calculating the width and height*/

    /* 
    By default, the width and height of an element is calculated like this:

    width + padding + border = actual width of an element
    height + padding + border = actual height of an element

    This means: When you set the width/height of an element,
    the element often appears bigger than you have set 
    (because the element's border and padding are added to the element's specified width/height).

    The box-sizing property allows us to include the padding and border in an element's total width and height.
    
    
    */

    box-sizing: border-box; /*The CSS box-sizing property allows us to include the padding and border in an element's total width and height.*/

    float: left;

}